<section>
<!-- Hero Section -->
  <section class="bg-light text-center text-white py-5" style="background-image: url('img3.jpg'); background-size: cover; background-position: center;">
    <div class="container">
      <h1 class="display-4 fw-bold">Bem-vindo à Clínica PetCare</h1>
      <p class="lead">Cuidamos do seu pet com amor e dedicação!</p>
      <a href="/atendimento/create" class="btn btn-outline-success btn-lg mt-3">Agende uma consulta</a>
      <a href="/veterinarios/create" class="btn btn-outline-success btn-lg mt-3">Cadastrar Funcionários</a>
    </div>
  </section>

  <!-- Services Section -->
  <section id="services" class="py-5">
    <div>
      <h2 class="text-center mb-4">Nossos Serviços</h2>
      <div class="row g-4">
        <div class="col-lg-4">
          <div class="card text-center" >
            <div class="card-body">
               <img class="rounded-2" style="width: 100%;"src="img4.jpg" alt="">
              <h5 class="card-title">Consulta Veterinária</h5>
              <p class="card-text">Cuidado personalizado para garantir a saúde do seu pet.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-center">
            <div class="card-body" style="padding-bottom:11.4%;">
              <img class="rounded-2 " style="width: 100%;"src="img1.jpg" alt="">
              <h5 class="card-title">Vacinação</h5>
              <p class="card-text">Vacinas essenciais para a proteção do seu animal.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-center">
            <div class="card-body" style="padding-bottom:11.4%;">
              <img class="rounded-2" style="width: 100%; "src="img2.jpg" alt="">
              <h5 class="card-title">Banho e Tosa</h5>
              <p class="card-text">Cuidados estéticos para deixar seu pet sempre bonito.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="bg-light py-5">
    <div class="container" style="padding-bottom: 20%;">
      <h2 class="text-center mb-4">Sobre Nós</h2>
      <p class="text-center">Na Clínica PetCare, temos uma equipe de veterinários altamente qualificados e apaixonados pelo cuidado com os animais. Nosso objetivo é oferecer serviços de excelência para garantir o bem-estar do seu pet.</p>
    </div>
  </section>

</section>
